:root {
    --mdb-bg-primary: #00684a;
    --mdb-bg-secondary: #001e2b;
    --mdb-white: #ffffff;
    --mdb-globalsize: 3rem;
}

@keyframes ctr_spin_rotation {
    from { transform: rotateY(0deg) }
    to { transform: rotateY(360deg) }
}

body {
    background-color: var(--mdb-bg-secondary);
}

.main {
    background-color: var(--mdb-white);
}
.aniloader {
    animation: ctr_spin_rotation 2s infinite linear;
    display:block;
    background-color: var(--mdb-white);
    border-radius: 100px; 
    padding:50px;
    height:50vh;
    margin-top:25vh;
}

.loader {
    display:block;
    background-color: var(--mdb-white);
    border-radius: 100px; 
    padding:50px;
    height:80vh;
    margin-top:10vh;
    min-width: 100%;
    place-items: center;
    display: grid;
}

.ctr_spin_parent {
    display: grid;
    place-items: center;
    width: 100%;
    resize: both;
    overflow: hidden;
    height:100vh;
}
.ctr_spin_child {
    padding:1rem;
    border-radius: 5px;
    font-size: 2rem;
    text-align: center;
    height:100vh;
}
.ctr_ctr_child {
    margin-top:25vh;
    text-align:center;
    overflow: hidden;
    padding:10px;
    vertical-align: middle;
    width: 100%;
    height:100vh;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 

 .fadeIn {
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-duration: 1500ms;
 }

 .btn-success {
    color: #001e2b !important;
    background-color: #00ed64 !important;
    border-color: #00ed64 !important;
 }

 .btn-secondary {
    color: #ffffff !important;
    background-color: #023430 !important;
    border-color: #023430 !important;
 }

 .btn-warning {
    color: #001e2b !important;
    background-color: #e9ff99 !important;
    border-color: #e9ff99 !important;
 }

 .form-control {
     font-size:3rem !important;
 }

 h1 {
     font-size:4rem !important;
 }

.oi-big { 
     font-size: 3rem !important;
}

code {
    color: #00ed64 !important;
}

.github-fork-ribbon:before {
    background-color: #00ed64;
    color: #001e2b !important;
}